.heaidng {
    padding: 5rem 0px;
    text-align: center;
    position: relative;
}

.heaidng::before {
    content: '';
    width: 36%;
    background: #cdcdcd;
    height: 2px;
    position: absolute;
    left: 28px;
    top: 50%;
}

.heaidng::after {
    content: '';
    width: 36%;
    background: #cdcdcd;
    height: 2px;
    position: absolute;
    right: 28px;
    top: 50%;
}

.mainRow {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    -ms-flex-align: center !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    background: url(../../../images/customerbackground.png)top center no-repeat;
    background-size: 100%;
    padding: 8rem 0px 4rem;
    background-color: #d9bf8f;
}

.mainRow2 {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.col6 {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}

.col4 {
    -ms-flex: 0 0 33.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.col7 {
    -ms-flex: 0 0 58.333333%;
    -webkit-box-flex: 0;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.col5 {
    -ms-flex: 0 0 41.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.col8 {
    -ms-flex: 0 0 66.666667%;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.col8 p,
.col7 p {
    font-size: 20px;
    line-height: 31px;
    padding-left: 2rem;

}

.col8 p span,
.col7 p span {
    color: #797979;
}

.col8 h2,
.col7 h2 {
    font-size: 28px;
    padding-left: 2rem;
    padding-bottom: 1rem;
    padding-top: 4rem;
}