.headingFooter {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: .5rem;
    padding-left: 40px;
}

.listtext {
    line-height: 28px;

}

.listtext li {
    list-style: none;
    color: #cdcdcd;
}